<div class="container">
  <div class="col-md-12">
    <h2>Add a new student</h2>
  </div>
  <div class="col-md-3">
    <form action="/students" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="campus" placeholder="Campus" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="age" placeholder="Age" required>
      </div>
      <!-- Submit student -->
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </div>
</div>